.container{
background-color: azure;
font-family: 'Laila', serif;
display: flex;
text-align: center;
flex-direction: column;
justify-content:space-around;
}
header.encabezado{
display: flex;
text-align: center;

font-family: 'Laila', serif;
}
.calender {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.calender > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
img{
    border-radius: 25px; 
}


.calender--info{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.calender--week{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calender--dia--item{
  text-align: center;
  line-height: 2;
}
.calender--mes, .calender--year{
  flex-direction: column;
}
.calender--prev{
    text-decoration: none;
    cursor:pointer;
    
    font-size: 1.4em;
    color: #ffffff;
    
    border-radius: 6px;
   
  }
  .calender--prev:hover{
    color: #1883ba;
    
  }
  .calender--next{
    text-decoration: none;
    cursor:pointer;
    
    font-size: 1.4em;
    color: #ffffff;
    
    border-radius: 6px;}
    .calender--next:hover{
      color: #1883ba;
      
    }

    .calender--dates{
      text-decoration: none;
    cursor:pointer;
    
    font-size: 1.4em;
   
    
    border-radius: 6px;}
    .calender--next:hover{
      color: #1883ba;
    }
    .calender--dates:hover{
      color: #1883ba;
      
    }